<tr>
  <td data-col="image">
    <%= image_tag group.get_group_image, size: "48x48" %>
  </td>
  <td data-col="name">
    <%= link_to group.name, group_path(group) %>
  </td>
  <td data-col="intro">
    <%= group.introduction %>
  </td>
  <td data-col="btn">
    <% if group.is_owned_by?(current_user) %>
      <%= link_to edit_group_path(group), class: "btn btn-outline-primary btn-sm btn-block" do %>
        <i class="fa-solid fa-pencil"></i> Edit
      <% end %>
    <% end %>
  </td>
</tr>